@font-face {
    font-family: 'Stratum2Light';
    src: url('/fonts/Stratum2WebLight.woff2') format('woff2'),
         url('/fonts/Stratum2WebLight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratum2Regular';
    src: url('/fonts/Stratum2WebRegular.woff2') format('woff2'),
         url('/fonts/Stratum2WebRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}